.chat-room {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  color: black;
}

.chat-room aside {
  display: table-cell;
  float: none;
  height: 100%;
  padding: 0;
  vertical-align: top;
}

.chat-room .tengah-side {
  width: 50%;
  background: #fff;
  border-right: 1px solid #e5e8ef;
}

.chat-room .tengah-side footer {
  background: #f6f6f6;
  padding: 15px;
  height: 70px;
  width: 50%;
  position: absolute;
  bottom: 0;
  border-right: 1px solid #e5e8ef;
}

.chat-room-head {
  background: #3498db;
  color: #ffffff;
  min-height: 70px;
  padding: 15px;
}

.group-rom {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  float: left;
  border-bottom: 1px solid #eaebee;
  margin-bottom: 10px;
  background-color: #9d39f7;
  color: white;
  border-radius: 5px;
}
.group-rom.odd {
  background-color: #e8eff3;
  color: black;
}

.group-rom .first-part,
.group-rom .second-part,
.group-rom .third-part {
  float: left;
  padding: 15px;
}

.group-rom .first-part {
  flex-grow: 1;
  font-weight: 600;
}

.group-rom .second-part {
  flex-grow: 2;
  padding: 0;
}

.group-rom .third-part {
  flex-grow: 1;
  min-width: 90px;
  font-size: 0.8em;
  text-align: end;
}

.chat-txt {
  float: left;
  width: 70%;
  margin-right: 5px;
}

.lobby {
  padding: 0 !important;
}
